.App {
  padding: 1rem;
}

.emi__form {
  display: flex;
  flex-direction: column;
}

.emi__form__field {
  display: flex;
  flex-direction: column;
  padding: .75rem 0.5rem;
}

.emi__info > p > span {
  font-weight: 800;
  font-size: 1.5rem;
}